TELEGRAM_BOT_TOKEN=your_bot_token_here
COINGLASS_API_KEY=your_coinglass_api_key_here

ALERT_CHAT_ID=123456789
ALERT_CHECK_INTERVAL=15
ENABLE_AUTO_ALERTS=true

BINGX_REF_LINK=https://bingx.com/partner/your_ref
SHOW_REF_BUTTON=true
REF_BUTTON_FREQUENCY=3
